body {margin:0;}
.g {
    Padding: 80px 40px;
    background-color: red;
    height:1500px;
}

.dropdown {
    position: fixed;
    top : 0;
    display: inline-block;
}
.dropdown-content {
    display : none;
    position : absolute;
    right : 0;
    background-color: #A9A9A9;
    min-width: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.dropdown-content a {
   color : white; 
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .button {
    background-color: #3e8e41;
}

  *{
            padding:0;
            margin:0;
        }
        .v{
            float:left;
            color:white;
            line-height:80px;
            margin-left: 40px;;
            font-family:sans-serif;
        }
        li{
            float:left;
            width: auto; 
            background:#666;
            display: block;
            color: white;
            text-align: center;
            margin-right:20px;
        }
        li a{
            display:block;
            float:left;
            height:50px;
            line-height:50px ;
            color:black;
            padding: 0 20px;
            color:#fff;
        }
            ul{
                float:right;
                list-style:none;
                width:85%;
                height:80px;
            }
            a{
                text-decoration:none;
            }
            header{
                float:left;
                width:100%;
                height:80px;
                background:#545050;
            }
            .show{
                display:block;
            }
            #i-nav{
                display:block;
                position:absolute;
                top:44px;
                right:20px;
                 width: 44px;
                height: 44px;
                background: aqua;
            }
            
            @media (min-width:1024px){
                #i-nav{
                    display: none;
                }
            }
            @media (max-width:1024px){
                header{
                    height:140px;
                }
                #i-nav{
                    display:block;
                }
                .v{
                    width:100%;
                    text-align:center;
                    margin:0;
                }
                ul{
                    width:100%;
                display:none;
                }
                ul li{
                    width:100%;
                }
                ul li a{
                    width:100%;
                    text-align:center;
                    outline:solid #ccc 1px;
                }
                ul li a:hover{
                    background:#111;
                }
            }
            
.center{
    text-align: center;
}
.button {
    background-color: #008CBA;
    border: none;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.newspaper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -ms-column-count:2
}
.gnv {
    
     color: black;
    font-family: Algerian;
}
.button1 {border-radius: 12px;}
.button2 {border-radius: 80%;}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}



.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}
.container {
    margin: 0 auto;
    color: black;
    font-family: times new roman;
    
    
}
img-medium {
  
    height: 300px;
}
